@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #008DC1;
}

body {
  /* font-family: var(--font-noto-sans-mono), monospace; */
  color: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-gray-50);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  /* font-family: var(--font-noto-sans-mono), monospace; */
  color: var(--foreground);
}
